html{
  margin: 0;
  padding: 0;
}

body {
  top:0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
  min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -100px;
}
footer,
#push {
  height: 100px;
}


head{
  margin: 0;
}
